* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var--rows: 6;
  --var--cols: 7;
  --level-one: translateZ(3rem);
  --level-two: translateZ(4rem);
  --level-three: translateZ(5rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --var-font-size: 1.4rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../wallpaper.jpg");
}

.neon-wrapper {
  display: inline-flex;
  filter: brightness(100%);
  overflow: hidden;
}

.gradient {
  background: linear-gradient(
    110.8210951619775deg,
    rgba(129, 204, 207, 1) 5.533854166666667%,
    rgba(211, 93, 59, 1) 96.67968749999999%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: 1;
  opacity: 70%;
}

.dodge {
  background: radial-gradient(circle, white, black 55%) center / 15% 15%;
  position: absolute;
  top: -200%;
  left: -200%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 3s linear infinite;
  z-index: 2;
  opacity: 50%;
}
@keyframes dodge-area {
  to {
    transform: translate(60%, 60%);
  }
}

.scene {
  background-color: rgba(17, 17, 17, 0.712);
  width: calc(51px * var(--var--cols));
  height: calc(55px * var(--var--rows));
  border: 1px solid black;
}

.scene button {
  position: relative;
  background: rgba(143, 58, 58, 0.884);
  margin: 5px;
  border-radius: 20px;
  z-index: 3;
}

.card {
  width: calc(51px * var(--var--cols));
  height: calc(55px * var(--var--rows));
}

.card_content {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card_content {
  transform: rotateX(0.05turn);
}

.card_content {
  transform: rotateX(0.05turn);
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  align-content: center;
}
.card_front::before {
  content: "";
  position: absolute;
  --spacer: 0.1em;
  top: 70px;
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid black;
  transform: var(--level-two);
  grid-row: 4;
}

.card_body {
  transform: var(--level-one);
}

.card_back {
  position: relative;
  background-color: red;
  background-size: cover;
  transform: rotateY(0.5turn);
  height: 100%;
}

.envoltorio{
  margin: auto;
  margin-top: 19rem;
  width: 100%;
  max-width: 35rem;
  padding: 3rem;
  background: rgba(39, 39, 36, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15rem rgba(0,0,0,0.3);
  color: #eaf0f3;
}

.envoltorio h1{
  color: #eaf0f3;
  margin: auto;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formulario{
  display: flex;
}

.formulario>h1{
  text-align: center;
  margin: auto;
}

.input-fields{
  margin: auto;
  width: 100%;
}

.comboBox{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #ce7420;
  padding: 10px;
  color: #f8f8f8;
  width: 100%;
}

option{
  background-color: #c78c54;
}

.izquierda{
  width: 50%;
  margin-bottom: 1.5rem;
  float:left;
}

.izquierda .comboBox{
  width: 95%;
  display: flex;
  float:left;
}

.izquierda .input{
  width: 95%;
}

.derecha{
  width: 50%;
  margin-bottom: 1.5rem;
  float: right;
}

.derecha .comboBox{
  display: flex;
  float:right;
}

.n1{
  float: right;
  width: 50%;
  margin-bottom: 1.5rem;
}

.n1 .comboBox{
  width: 95%;
}

.n2{
  float: left;
  width: 50%;
  margin-bottom: 1.5rem;
}

.boton {
  margin: auto;
  display: block;
  margin-top: 1.75rem;
  margin-right: 0rem;
  background: #ce7420;
  text-align: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  color: #f8f8f8;
  cursor: pointer;
  text-transform: uppercase;
}

.juego{
  display: none;
}