
table, th, td {
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    font-size: 135%;
    margin: auto;
    padding: 3rem;
    text-align: center;
}

td{
    border: 1px solid black;
}

td img{
    padding: 0rem;
    margin: 0rem;
}